version: '3.9'

services:
  backend:
    build: .
    container_name: cv_backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./pdfs:/app/pdfs    
      - ./font:/app/font
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: cv_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: